<% const ROOT = `${process.cwd()}/src/assets/ejs`; -%>
<%# ページIDを入力する -%>
<% pageId = 'about'; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%# メタデータ等 -%>
  <%- include(`${ROOT}/_common/_head.ejs`) %>

  <%# CSS -%>
  <%- include(`${ROOT}/_common/_link.ejs`) %>

  <%# JavaScripts -%>
  <%- include(`${ROOT}/_common/_script.ejs`) %>
</head>

<body>
  <%# 共通SVG画像 -%>
  <%- include(`${ROOT}/_modules/_svg.ejs`) %>

  <%# ヘッダー -%>
  <%- include(`${ROOT}/_common/_header.ejs`) %>

  <%# メイン -%>
  <%# main -%>
  <main class="l-main">
    <h2>BUTTONページです。</h2>
    <p><a href="/" class="test-link">TOPページはこちらをクリック</a></p>

    <div class="layout-container">
      <div class="layout-list flex">
        <div class="c-inner not">
          <p>通常のやり方<br>最大横幅：親要素で指定<br>端寄せ：親要素で指定</p>
        </div>
        <div class="c-inner">
          <p>display: blockの通常のレイアウト<br>中央</p>
        </div>
        <div class="c-inner left">
          <p>display: blockの通常のレイアウト<br>PCのみ左端寄せ</p>
        </div>
        <div class="c-inner right">
          <p>display: blockの通常のレイアウト<br>PCのみ右端寄せ</p>
        </div>
      </div>


      <div class="layout-list grid">
        <div class="c-inner">
          <p>Gridでのやり方<br>最大横幅：親要素で指定<br>端寄せ：子要素で指定</p>
          <div class="c-block">
            <p>display: gridのレイアウト<br>中央</p>
          </div>
          <div class="c-block left">
            <p>display: gridのレイアウト<br>PCのみ左端寄せ</p>
          </div>
          <div class="c-block right">
            <p>display: gridのレイアウト<br>PCのみ右端寄せ</p>
          </div>
          <div class="c-block mini">
            <p>display: gridのレイアウト<br>中央+コンテンツ幅小さめ</p>
          </div>
        </div>
      </div>
    </div>


  </main>


  <%# フッター -%>
  <%- include(`${ROOT}/_common/_footer.ejs`) %>

</body>

</html>
