<% const ROOT = `${process.cwd()}/src/assets/ejs`; -%>
<%# ページIDを入力する -%>
<% pageId = 'about'; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%# メタデータ等 -%>
  <%- include(`${ROOT}/_common/_head.ejs`) %>

  <%# CSS -%>
  <%- include(`${ROOT}/_common/_link.ejs`) %>

  <%# JavaScripts -%>
  <%- include(`${ROOT}/_common/_script.ejs`) %>
</head>

<body>

  <%# ヘッダー -%>
  <%- include(`${ROOT}/_common/_header.ejs`) %>

  <%# メイン -%>
  <%# main -%>
  <main class="l-main">
    <h2>ABOUTページです。</h2>
    <p><a href="/" class="test-link">TOPページはこちらをクリック</a></p>
  </main>

  <!-- <h3>
    <p>マーックアップエラー用テキスト</p>
  </h3> -->

  <p class="js-test-html">HTMLファイル内に記述したJSで色変更</p>
  <p class="js-test-js-hoge">JSファイル内に記述したコードで色変更：hogeファイル</p>
  <p class="js-test-js-foo">JSファイル内に記述したコードで色変更：fooファイル</p>
  <p class="js-test-js-bar">JSファイル内に記述したコードで色変更：barファイル（homeのみ）</p>

  <%# フッター -%>
  <%- include(`${ROOT}/_common/_footer.ejs`) %>

  <%# スクリプト -%>
  <script>
    const textColorChange = () => {
      const testJsHtml = document.querySelector('.js-test-html');
      testJsHtml.style.color = 'red';
    };
    textColorChange();
  </script>

</body>

</html>
